*{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: radial-gradient(circle, rgba(213, 192, 115, 0.988) 42%, rgba(68,148,74,1) 100%);  
}
table {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    background: rgb(115,213,185);
    background: radial-gradient(circle, rgba(113, 158, 216, 0.988) 42%, rgba(68,148,74,1) 100%);
} 
th, tr, td{
    border: 1px solid #000;
    text-align: center;
    background: #0ccdf429;
    color: #341b1b;
    font-style: italic;
}